$weuiCellBg: #ffffff;
$weuiCellBorderColor: #e5e5e5;
$weuiCellGapV: 10px;
$weuiCellGaph: 15px;
$weuiCellInnerGaph: 0.35em;
$weuiCellHeight: 45px;
$weuiCellFontSize: 17px;
$weuiCellTipsFontSize: 14px;
$weuiCellLabelWidth: 105px;

$weuiCellLineHeight: ($weuiCellHeight - 2 * $weuiCellGapV) / $weuiCellFontSize;
$weuiCellsMarginTop: 0.5em;

// weui switch
$weuiSwitchHeight: 32px;

// weui uploader
$weuiUploaderBorderColor: #d9d9d9;
$weuiUploaderActiveBorderColor: #999999;
$weuiUploaderFileSpacing: 9px;
$weuiUploaderSize: 79px;
$weuiUploaderBorderWidth: 1px;
